.site-header {
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  @media (min-width: $break-medium) {
    padding: 1% 19%;
  }

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .branding {
    display: inline-block;
    padding: 5px;
  }

  .site-title {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    float: right;
    display: inline;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;

      @media (min-width: $break-medium) {
        float: right;
        text-align: right;
      }
    }
    li {
      float: right;
      display: inline;
      margin-right: 0.4em;

      @media (min-width: $break-medium) {
        float: left;
      }
    }

    @media (max-width: $break-large) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}